[flake8]
format = wemake
show-source = true
statistics = false
doctests = true

max-complexity = 6
max-line-length = 80
max-imports = 25
max-arguments = 6

allowed-domain-names = data

select = WPS, E99

ignore =
  WPS412

extend-exclude =
    venv
    .vscode/
    docs/
    */migrations/*
    backend/static/
    media/